body.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}
.fade-in-up.opacity-100 {
  opacity: 1;
  transform: translateY(0);
}
